@import "tailwindcss";

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to bottom, #f8fafc, #f1f5f9);
}

button,
a,
select,
input[type="checkbox"] {
  cursor: pointer;
}
